.App {
  text-align: center;
}
.sideBar {
  display: flex;
  float: left;
  background-color: #fcfbff;
  height: 620px;
  margin-right: 50px;
  margin-left: 10px;
}
.mainContainer {
  display: flex;
}
